.body{
  background-color: black;
}
.n1{
  margin-right:-15px;
  margin-left: -20px;
}
.container-fluid{
  background-color: black;
  height:70px;
  margin-top: 0%;

}
.navbar-brand{
  color: white;
}
.nav-link active{
  color: white;
  margin-right: 20px;
}

.nav-link{
  color: white;
  margin-right: 20px;
}
.navbar-nav{
  margin-left: 250px;
}
.img-fluid{
  width: 100px;
  margin-left: 180px;
}
.btn1{
  color: white;
  background-color: black;
  border-radius: 18px;
  padding-top:7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-color: white;
}
.img{
  width: 1024px;
  height: 650px;
  margin-top:-10px;
  margin-right: -40px;
}
.overlay{
  margin-top: -500px;
  color: white;
  font-family: Poppins;
Font-style:Mixed;
Font-size:100px;
width: 900px;
Line-height:125px;
Line-height:104%;
/* vertical-align: middle; */
margin-left: 370px;
justify-content:center;
text-align: center;
 
}
.img1{
  width:1024px;
  height: 650px;
  margin-top:-10px;
  margin-right: -40px; 
}
.overlay1{
margin-top: -620px;
margin-left:760px;
}
.overlay2{
margin-left: 670px;
}

.image-container::after {
  content: "";
  position: absolute;
 margin-top:-265px;
 margin-left: 400px;
  width: 50%;
  height:40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  clip-path: ellipse(50% 100% at 50% 100%);
}
.img4{
  margin-top: 310px;
  margin-left: 680px;
}
.img5{
  margin-top: 100px;
  height: 600px;
  width:1620px;
}
.gradient-box {
  width:700px;
  height: 400px;
  background: linear-gradient(to right, #474747 0%, #222222 41.8%);
}
.overlay3{
  margin-top:-470px;
  margin-left: 420px;
  position: absolute;
  width: 50%;
  height:45%;
  background: linear-gradient(to right, #474747 0%, #222222 41.8%);

}
.a2{
  position: relative;
  display: inline-block;
  margin-top: 100px;
  height: 800px;
}
.a2 img {
  display: block;
  width: 100%;
  height: 600px;
  width: 1620px;
}
.column{
  position: relative;
  display: inline-block;
  margin-top: 100px;
  height: 10px;
}
.a3{
  width: 400px;
  height: 200px;
}
.a4{
  border-radius: 40px;
  width:60px;
  height: 60px;
  margin-left: 280px;
  margin-top: -4px;
  display: flex;

}
.overlay4 {
  width: 570px;
  height: 50px;
  margin-left: 20px;
  background-color: #ffffff; 
  border: 1px solid black; 
  color: #514E4E;
  Font-family: Poppins;
Font-style: Light;
Font-size: 18.44px;
Line-height: 20px;
/* Line-height: 150%; */
Letter-spacing: 3%;
}
.card-body{

  margin-left: 250px;
}
.card{
  border: none;
}
.form-control{
  border-color: black;
  height: 50px;
}
.custom-select{
  height:50px ;
  border-color: black;
}
.a5{
  width: 500px;
  height: 550px;
  margin-left: 20px;
  margin-top: -100px;
}

